body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f4f4f4;
}

.header {
  color: #333333;
  font-size: 26px;
  font-weight: 700;
  margin: 30px 20px 30px;
  text-align: center;
}

.content {
  margin: 0 5%;

  @media (min-width: 360px) {
    margin: 0 20px;
  }
}

.list {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  justify-content: flex-start;

  @media (min-width: 360px) {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

.info-card {
  box-sizing: border-box;
  width: 100%;
  min-height: 100px;
  padding: 20px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  background: #fff;
  border: 2px solid #fff;
  cursor: pointer;
  
  &:hover, &.selected {
    padding: 20px;
    border: 2px solid pink;
  }
}

.info-card__header {
  display: flex;
  align-items: flex-start;
}

.info-card__initials {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 30px;
  min-width: 30px;
  border: 1px solid #000;
}

.info-card__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 0 0 10px;
}

.info-card__name {
  color: #333333;
  font-size: 20px;
  font-weight: 700;
  word-break: break-word;
  padding: 0 0 2px;
}

.info-card__job-title {
  color: #e74c3c;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0 0 20px;
}

.info-card__email-address {
  color: #666666;
  font-size: 14px;
  word-break: break-word;
  text-align: center;
}